streamlit
pandas
numpy
scikit-learn
spacy
xgboost==2.0.3
lightgbm
textblob
docx2txt
PyPDF2
matplotlib
wordcloud
openpyxl

# ✅ Automatically install spaCy English model
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
