streamlit
pandas
numpy
scikit-learn
spacy==3.7.2
blis==0.7.11
xgboost==2.0.3
lightgbm
textblob
docx2txt
doc2docx
PyPDF2
matplotlib
wordcloud
openpyxl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

