# Core
# Core packages
streamlit
pandas
numpy
scikit-learn

# NLP libraries
nltk
textblob
spacy==3.7.2
blis==0.7.11

# File handling
docx2txt
PyPDF2
openpyxl

# Plotting
matplotlib
wordcloud

# ML packages
xgboost==2.0.3
lightgbm==4.3.0

# If using a spaCy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
